nav{
    background-color: black;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: #fff;
}
.button{
    display: block;
    width: 150px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: #0e9fc4;
}
.boxnav{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    text-align: center;
    justify-content: center;
    margin-top: 55px;
}
img{
    height: 125px;
    width: 125px;
}